@model IEnumerable<BillsData.Transaction>

@{
    ViewData["Title"] = "Index";
}

<h2>Transactions</h2>


<table class="table">
    <thead>
        <tr>
            <th>Category</th>
            <th>Name</th>
            <th>Description</th>
            <th>Transaction date</th>
            <th>Price</th>
            <th>
                
            </th>
            <th><a asp-action="Create" class="btn btn-success btn-lg"><i style="color: white;" class="glyphicon glyphicon-plus"></i></a></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionCategory.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PaymentType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID"><i style="color: blue;margin-right:10px"class="glyphicon glyphicon-pencil"></i></a>
                <a asp-action="Details" asp-route-id="@item.ID"><i style="color:gray;margin-right:10px"class="glyphicon glyphicon-menu-hamburger"></i></a>
                <a asp-action="Delete" asp-route-id="@item.ID"><i style="color:red;margin-right:10px" class="glyphicon glyphicon-trash"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>
